In [2]:
#fibonacci

n=int(input('enter number'))
a=0
b=1
print(a)
print(b)
for i in range(n-2):
    s=a+b
    print(s)
    a=b
    b=s

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
#break
for i in 'python':
    if i=='h':
        print(i)
        break

print()
        
#continue -> bypass statement
for i in 'python':
    if i=='h':
        continue
    print(i)

print()

#pass -> placeholder statement
for i in 'python':
    pass

h

p
y
t
o
n

In [1]:
n=0
while n<5:
    print('hello')
    n+=1
else:
    print('end')

hello
hello
hello
hello
hello
end

In [30]:
a=3
temp=a
b=5
for i in range(b-1):
    a+=temp
a

15

In [26]:
l=[1,2,3]
for j in range(2):
    for i in range(len(l)):
        l.append(l[i])
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
#symmetric difference
a={1,2,3,4,5}
b={4,5,6,7,8}

#use ^ operator
print(a^b)

#function
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

In [15]:
#set-{}
l=[1,2,2,3,3,4,4,4,4]
print(set(l))

#set union method
a={1,2,3,4,5}
b={4,5,6,7,8}

#use | operator
print(a|b)

#union function
a.union(b)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
d={'a':5,'b':15,'c':25,'d':8}
d1={}

for i in d:
    if(d[i]>=10):
        d1[i]=d[i]
d1

{'b': 15, 'c': 25}

In [38]:
s='Nadia a gentle turtle lives near a moss-covered pond. Lizard makes fun of her shell that has fractured. He decides to poke more holes into her armor. Swelling up with anger Nadia takes a massive bite out of Lizard tail.'
s=s.split(' ')
d={}
for i in range(len(s)):
    d[s[i]]=s.count(s[i])
print(d)

{'Nadia': 2, 'a': 3, 'gentle': 1, 'turtle': 1, 'lives': 1, 'near': 1, 'moss-covered': 1, 'pond.': 1, 'Lizard': 2, 'makes': 1, 'fun': 1, 'of': 2, 'her': 2, 'shell': 1, 'that': 1, 'has': 1, 'fractured.': 1, 'He': 1, 'decides': 1, 'to': 1, 'poke': 1, 'more': 1, 'holes': 1, 'into': 1, 'armor.': 1, 'Swelling': 1, 'up': 1, 'with': 1, 'anger': 1, 'takes': 1, 'massive': 1, 'bite': 1, 'out': 1, 'tail.': 1}

In [29]:
l=['name','age','height','weight','address','education','skills','projects','hobbies']
d={}
for i in range(len(l)):
    d[l[i]]=len(l[i])
print(d)

{'name': 4, 'age': 3, 'height': 6, 'weight': 6, 'address': 7, 'education': 9, 'skills': 6, 'projects': 8, 'hobbies': 7}

In [2]:
k=['name','age','std']
v=['abc',10,'6th']
z=zip(k,v)
l=dict(z)
l
# dict(z)

{'name': 'abc', 'age': 10, 'std': '6th'}

In [28]:
dict={}
a=['japan','iceland','russia','greece']
b=['tokyo','reykjavik','moscow','athens']
for i in range(4):
    dict[a[i]]=b[i]
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(type(dict.items()))

{'japan': 'tokyo', 'iceland': 'reykjavik', 'russia': 'moscow', 'greece': 'athens'}
dict_keys(['japan', 'iceland', 'russia', 'greece'])
dict_values(['tokyo', 'reykjavik', 'moscow', 'athens'])
dict_items([('japan', 'tokyo'), ('iceland', 'reykjavik'), ('russia', 'moscow'), ('greece', 'athens')])
<class 'dict_items'>

In [20]:
list=[]
for i in range(5):
    list.append(int(input('list element')))

dict={}
for i in range(4):
    a=input('enter key')
    dict[a]=input('enter value')

print(list)
print(dict)

[1, 2, 3, 4, 5]
{'name': 'hs', 'city': 'lucknow', '': 'age', '23': 'height'}

In [16]:
#dictionary

d={'name':'abc','std':'ABB','height':5.8,'name':'ABB'}
#d

print(d['name'])
print(d.get('name'))

ABB
ABB

In [ ]:
#a=[3,4,[999,888]] copy method not useful for nested methods
#b=a.copy()
#b[2].append(1000)
#print(b)
#print(a)

import copy

a=[3,4,[999,888]]
b=copy.deepcopy(a)
b[2].append(1000)
print(b)
print(a)

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888]]

In [ ]:
#a=[3,4]
#b=a
#b+=[5,6]
#print(a)
#print(b)

#copy shallow copy
a=[3,4]
b=a.copy()
b+=[5,6]
print(a)
print(b)

[3, 4]
[3, 4, 5, 6]

In [ ]:
# num=list(map(int,input().split()))

size=int(input('Enter size of array'))
list=[]
for i in range(0,size):
    n=int(input('enter array element'))
    list.append(n)
target=int(input('enter target'))
res=[]
for i in range(0,size):
    for j in range(i+1,size):
        if(list[i]+list[j]==target):
            res.append(i)
            res.append(j)
            break
res

[0, 1]

In [4]:
t=(1,2,3,[2,5])

t[-1][1]=6
t

(1, 2, 3, [2, 6])

In [1]:
l=[]
for i in range(1,50):
    flag=0
    for j in range(2,i):
        if(i%j==0):
            flag=1
            break
    if(flag==0 and i!=1):
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [26]:
num=[1,2,3,4,5,6,7,8,9,10]
n=len(num)
#print(n)
num1=num[:n//2]
num2=num[n//2:]
num2=num2[::-1]
num=num1+num2
#print(num1)
#print(num2)
num

[1, 2, 3, 4, 5, 10, 9, 8, 7, 6]

In [14]:
l=[100,120,130,140,130,110]
l=l+[550,660]
print(l)

print(l[::-2])

s=['re','rd']*3
s

[100, 120, 130, 140, 130, 110, 550, 660]
[660, 110, 140, 120]

['re', 'rd', 're', 'rd', 're', 'rd']

In [11]:
l=[100,120,130,140,130,110]
#l.append([111,222])
l.extend([111,222])
l

[100, 120, 130, 140, 130, 110, 111, 222]

In [ ]:
l=[100,120,130,140,130,110]
l.append(777)
l.insert(3,333) #index,value
print(777 in l)
print(l)

l.remove(333) #deleting value
print(l)
l.pop(2)
print(l)
l.pop() #last value
print(l)

# del(l) completely deletes data structure from memory

True
[100, 120, 130, 333, 140, 130, 110, 777]
[100, 120, 130, 140, 130, 110, 777]
[100, 120, 140, 130, 110, 777]
[100, 120, 140, 130, 110]

In [7]:
li=[[1,2],['abc', 'xyz', [999,666]]]

li[1][2][0]

999

In [ ]:
#perfect no
a=28
res=0
for i in range(1,a):
    if(a%i==0):
        res+=i
if(res==a):
    print('Perfect')
else:
    print('Not Perfect')

Perfect

In [2]:
list=[100,120,130,140,130,110]

print(list[2:4])
print(list[-3])
print(list[:])
print(list[::-1])
print(list[:-2])
print(len(list))
print(list.count(130))

[130, 140]
140
[100, 120, 130, 140, 130, 110]
[110, 130, 140, 130, 120, 100]
[100, 120, 130, 140]
6
2

In [ ]:
city=['chennai-guindy','mumbai','delhi']
print(city[0][8:])

# 0 Chennai
# 1 Mumbai
# 2 Delhi

print(len(city[1]))
print(city[0][1:4])

guindy
6
hen

In [ ]:
#armstrong no
a=153
temp=a
res=0
while(temp!=0):
    l=temp%10
    res+=(l*l*l)
    temp//=10
if(res==a):
    print('Armstrong')
else:
    print('Not Armstrong')

Armstrong

In [99]:
for i in range(1,50):
    flag=0
    for j in range(2,i):
        if(i%j==0):
            flag=1
            break
    if(flag==0 and i!=1):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [88]:
s=input()
s=s.upper()
vowels=0
consonants=0
for i in range(len(s)):
    if(s[i] in 'AEIOU'):
        vowels+=1
    else:
        consonants+=1
print('no of vowels:', vowels)
print('no of consonants:', consonants)

no of vowels: 5
no of consonants: 11

In [86]:
for i in range(5):
    print(i,'hello')

0 hello
1 hello
2 hello
3 hello
4 hello

In [79]:
ch='H'
s='AEIOU'
if(ch in s):
    print('Vowel')
else:
    print('Consonant')

Consonant

In [77]:
a=4
b=5
c=3
if(a>b):
    if(a>c):
        print('a is greatest')
if(b>c):
    print('b is greatest')
else:
    print('c is greatest')

b is greatest

In [71]:
a=int(input('Enter a number'))
if(a<0):
    print('No. is negative')
if(a>0):
    print('No. is positive')
if(a==0):
    print('No. is zero')

b=int(input('Enter a number'))
if(b>0):
    print('No. is positive')
else:
    print('No. is negative')

c=int(input('Enter a number'))
if(c>0):
    print('No. is positive')
elif(c<0):
    print('No. is negative')
else:
    print('No. is zero')

d=int(input('Enter a number'))
if(d>=0):
    if(d>0):
        print('No. is positive')
    else:
        print('No. is zero')
else:
    print('No. is negative')

No. is positive
No. is positive
No. is positive
No. is positive

In [68]:
#conditionals
a=6
b=36
if a>b:
    print("a is greater")
else:
    print("b is greater")

b is greater

In [63]:
s='123456789'
n=len(s)
s1=s[0:n//2]
s2=s[n//2:n]
s2=s2[::-1]
s=s1+s2
print(s)

123498765

In [53]:
a=6
b=12
c=3+4j
print(a&b)
print(a|b)
print(a^b)
print(~a) #-(1+a)
print(type(c))

4
14
10
-7
<class 'complex'>

In [51]:
s="winter is coming"
print('in' in s)

True

In [50]:
s='chEnNAi'
print(s.capitalize())
print(s.center(15,'*'))
print(s.find('nN'))  #find(sub[, start[, end]])

Chennai
****chEnNAi****
3

In [49]:
s="jon snow"
print(len(s))
print(s[1:6]) #slice
print(s[::-1]) #reverse
s[0:8:2]

8
on sn
wons noj

'jnso'

In [43]:
print(ord('A'))
print(bin(65))
print(chr(65))

65
0b1000001
A

In [ ]:
#simple interest
p=6000
r=6.0
t=6
si=p*r*t/100
print(f'amount is {p+si}')

#compund interest
pr=6000
rate=6.0
time=6
n=1
print(pr*((1+rate/100)**(n*time)))

amount is 8160.0
8511.114673536002

In [16]:
#temperature conversion
c=36
f=66
ctof=(9/5*c)+32
ftoc=(5/9)*(f-32)
print(f'celsius to fahrenheit is {ctof}')
print(f'fahrenheit to celsius is {ftoc}')

celsius to fahrenheit is 96.8
fahrenheit to celsius is 18.88888888888889

In [14]:
#circle area
r=6.0
area=3.14*(r**2)
print(area)

113.04

In [13]:
name='hs'
std='12th'
print(name,'is studying in',std)

print(f'{name} is studying in {std}')

hs is studying in 12th
hs is studying in 12th

In [ ]:
a=int(input('Enter a number '))
print(type(a))

<class 'int'>

In [6]:
age=6
print(type(age))
name='abc'
print(type(name))

<class 'int'>
<class 'str'>

In [5]:
a=1,2,3,4,5,6 #packing
#print(a)
data='abc',10,6.6
#print(data)
name,age,wei=data #unpacking
print(name)
print(age)
print(wei)

abc
10
6.6

In [2]:
print(2+3)

5

In [1]:
print('Hello World')

Hello World